name: Build and Deploy Node.js to EC2

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-east-1
  S3_BUCKET: huybd-vidlearning-dev-assets-us-east-1
  INSTANCE_ID: i-027af4d4132c6351e
  PROJECT_PATH: /var/www/vid-learning/vid-learning-be

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 1. Install ALL dependencies (including devDependencies like TypeScript)
      - name: Install Dependencies
        run: npm install

      - name: Lint Code
        run: npm run lint
        continue-on-error: true

      - name: Run Tests
        run: npm run test:cov
        continue-on-error: true

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2.3
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          
      - name: Security Audit
        run: npm audit --audit-level=high
        continue-on-error: true

      # 2. Build the project (creates dist/ or build/ folder)
      - name: Build Source
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env && npm run build
          rm -rf node_modules

      - name: Zip Artifact
        run: |
          zip -r deployment-package.zip dist package.json package-lock.json

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-to-assume: arn:aws:iam::468629877310:role/huybd-vidlearning-github-role
          aws-region: us-east-1


      - name: Copy to S3
        run: |
          aws s3 cp deployment-package.zip s3://${{ env.S3_BUCKET }}/builds/${{ github.sha }}.zip --sse AES256

      - name: Deploy via SSM
        run: |
          aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --targets "Key=instanceids,Values=i-027af4d4132c6351e" \
            --parameters commands='[
              "echo Starting Deployment...",
              "export AWS_DEFAULT_REGION=${{ env.AWS_REGION }}",

              "# 1. Create directory if not exists",
              "mkdir -p ${{ env.PROJECT_PATH }}",

              "# 2. Clean the directory",
              "cd /var/www/vid-learning/vid-learning-be && find . -mindepth 1 ! -name '.env' -exec rm -rf {} +",

              "# 2. Download from S3",
              "aws s3 cp s3://${{ env.S3_BUCKET }}/builds/${{ github.sha }}.zip /tmp/deployment.zip",
              
              "# 3. Unzip to target location (overwriting)",
              "unzip -o /tmp/deployment.zip -d ${{ env.PROJECT_PATH }}",

              "# 4. Create ENV file",
              "echo \"${{ secrets.ENV_FILE }}\" > ${{ env.PROJECT_PATH }}/.env",

              "# 5. Install Production Deps",
              "su - ec2-user -c \"cd ${{ env.PROJECT_PATH }} && npm install --production\"",

              "# 6. Restart Application with PM2",
              "su - ec2-user -c \"pm2 restart vid-learning-be || pm2 start ${{ env.PROJECT_PATH }}/dist/index.js --name vid-learning-be -- start -p 8080\"",
              "su - ec2-user -c \"pm2 save\"",

              "echo Deployment Complete"
            ]'
